<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/errorpage.css">
</head>

<body>
    <div class="main">


        <h1>Invaild Eamil id </h1>

     

        <div class="para A">
            <p>Enter Vaild Entry <span><a>Log In</a  onclick="window.location.href='/Loginpage'"></span> </p>
        
            <p>If you do don't have an Account Please <span><a  onclick="window.location.href='/Signuppage'">SignUP</a></span> First </p>
        </div>


    </div>

</body>

</html>